app = "crvouga-headless-combobox-docs"
primary_region = "ord"

[build]
  image = "crvouga/headless-combobox-docs:latest"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
