.git
.github
node_modules
dist
.turbo
.vscode
.cursor
.vault-token
*.env
env
packages/infra
packages/9router/*
!packages/9router/package.json
packages/vault-service
packages/workstation
packages/eslint-rules
